<style>
    #header {
        white-space: nowrap;
        display: flex;
        background-color: gainsboro;
        color: black;
        border-radius: 10px;
    }

    .headersignin {
        margin-left: auto;
        padding-right: 0.5em;
        margin-top: 1em;
    }

    #header h1 {
        position:relative;
        font-size: 40px;
        top: 50%;
        left: 0.5em;
        text-shadow: 1px 1px 4px slategray;
    }
</style>

<div id="header">
    <h1 id="headertext">Wolf Cat ERP</h1>
    
    <h3 class="headersignin">
        <a class="headersignin"href="<%= typeof userNameHeader !== 'undefined' ? '/users/' + userNameHeader : '/signin'%>">
            <%= typeof userNameHeader !== 'undefined' ? userNameHeader : "Sign-In" %>
        </a>
    </h3>

    <h4>
        <a href="javascript:signOut();">
            <%= typeof userNameHeader !== 'undefined' ? "Sign-out" : "" %>
        </a>
    </h4>
</div>

<script>
    const mobile = (window.innerWidth / window.innerHeight < 1) ? true : false;
    if (mobile) {
        document.getElementById("headertext").style.transform = "translate(-50%,0%)";
        document.getElementById("headertext").style.left = "50%";
        const classObjs = document.querySelectorAll(".headersignin");
        classObjs.forEach((e) => {
            e.remove();
        })
        
    }
    <% if (typeof userNameHeader !== 'undefined') { %>
        function signOut() {
            document.cookie.split(";").forEach((c) => {
                document.cookie = c.replace(/^ +/, "")
                    .replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
            });
            location.reload();
        }
        <%}%>

</script>