<head>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/tasks.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div id="mainBody">
        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/header.ejs') %>

        <div class="taskHeader">
            <h3><a href="/tasks/history">History</a></h3>
            <form action="" method="post">
                <label for="taskName">Add Task:</label><br />
                <input type="text" id="taskAdd" name="taskAdd" required /><br />
                <lavel for="taskAddDesc">Description:</lavel><br />
                <input type="text" id="taskDesc" name="taskAddDesc" /><br />
                <button id="addTaskBtn">Add</button>
            </form>
        </div>

        <div id="taskListContainer">

        </div>
     </div>
</body>

<script>
    checkUpdate();

    addEventListener("resize", (event) => {
        let mobile = (window.innerWidth / window.innerHeight < 1) ? true : false;
        const descriptors = document.querySelectorAll(".taskIndividual p");
        if (mobile) {                   // This is to make the viewing experience a bit better on vertical devices, sadly this affects vertically oriented monitors
            descriptors.forEach((e) => {
                e.style.fontSize = '0px';
            });
        }
        else {
            descriptors.forEach((e) => {
                e.style.fontSize = '20px';
            });
        }
    });

    async function checkUpdate() {
        if (document.visibilityState === 'visible') { // just so we're not wasting bandwidth for unattended tabs
            const fetchValues = await fetch('/tasks/api/fetchAll'); // returns all incomplete tasks as json parsable object
            const fetchJSON = await fetchValues.json();
            const fromUpdate = fetchJSON.map(e => e._id); // just getting the id's from the json
            const fromBrowser = Array.from(document.querySelectorAll('.taskList')).map(e => e.id); // getting all task id's displayed in browser

            const toAddArr = fromUpdate.filter(x => !fromBrowser.includes(x));  // filtering to get list of objects to add and remove
            const toRemoveArr = fromBrowser.filter(x => !fromUpdate.includes(x));

            toAddArr.forEach((e) => {
                jsonParent = fetchJSON.filter((ele, _) => ele._id === e);           // get the json object matching the id and using it to send values to function
                insertUpdated(e, jsonParent[0].title, jsonParent[0].description);
            });

            toRemoveArr.forEach((e) => {
                removeUpdated(e);
            });
        };
    };

    function removeUpdated(id) {
        const elementToPop = document.getElementById(id);
        elementToPop.remove();
    };

    function insertUpdated(id, title, description) {        // doing a really shoddy build of the div and assigning relavent info at the end.
        const container = document.getElementById("taskListContainer");
        const outerIndividualDiv = document.createElement("div");
        const innerIndividualDiv = outerIndividualDiv.appendChild(document.createElement("div"));
        const innerIndivForm = innerIndividualDiv.appendChild(document.createElement("form"));
        const innerFormButton = innerIndivForm.appendChild(document.createElement("button"));
        const innerIndivTitle = innerIndividualDiv.appendChild(document.createElement("h3"));
        const indivTitleAnchor = innerIndivTitle.appendChild(document.createElement("a"));
        const indivDescription = innerIndividualDiv.appendChild(document.createElement("p"));
        innerFormButton.textContent = "Done";
        indivTitleAnchor.textContent = title;
        indivDescription.textContent = description
        Object.assign(outerIndividualDiv, { "id": id, "className": "taskList" });
        Object.assign(innerIndividualDiv, { "className": "taskIndividual" });
        Object.assign(innerIndivForm, { "action": " ", "method": "post" });
        Object.assign(innerFormButton, { "type": "submit", "name": "completereq", "id": "submitComplete", "value": id });
        Object.assign(indivTitleAnchor, { "className": "taskJump", "href": `/tasks/id/${id}` })
        container.appendChild(outerIndividualDiv);
    };

    setInterval(checkUpdate, 5000);
</script>